In [1]:
import linref as lr
import linref_011 as lr011
from linref.events import EventsData
from linref.events import common, selection, modify, utility, analyze, geometry
import numpy as np
import pandas as pd
import scipy.sparse as sparse
import geopandas as gpd
import linref as lr
import warnings

In [2]:
from shapely.geometry import LineString
from linref.events.geometry import LineStringM, linemerge_m, prepare_chained_linestring_m
import shapely

l1 = shapely.from_wkt('LINESTRING (0 0, 1 0, 1 1, 2 1, 3 2)')
l2 = shapely.from_wkt('LINESTRING (3 2, 4 3, 5 3, 6 4, 7 5)')
l3 = shapely.from_wkt('LINESTRING (8 5, 8 6, 9 7, 10 8, 11 9)')
lm1 = LineStringM(l1, [1, 5, 20, 30, 40])
lm2 = LineStringM(l2, [40, 60, 70, 80, 90])
lm3 = LineStringM(l3, [100, 110, 120, 130, 140])

In [1]:
import linref as lr
import linref_011 as lr011
from linref.events import EventsData
from linref.events import common, selection, modify, utility, analyze, geometry
import numpy as np
import pandas as pd
from shapely.geometry import LineString
import scipy.sparse as sparse
import geopandas as gpd
import linref as lr
import warnings

In [2]:
df_linear_1 = gpd.GeoDataFrame(index=[7, 6, 9, 4, 3, 2, 0, 1, 10, 13, 8], data={
    'county': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'C'],
    'route': ['Main St', 'Main St', 'Main St', '1st Ave', '1st Ave', '2nd Ave', '2nd Ave', '2nd Ave', '2nd Ave', '2nd Ave', 'Sycamore School Rd'],
    'beg': [0.0, 0.5, 1.1, 10.0, 12.0, 13.0, 13.1, 14.0, 17.0, 17.8, 1.8],
    'end': [0.4, 1.1, 3.0, 12.0, 13.0, 13.1, 14.0, 17.0, 17.8, 18.1, 3.0],
    'volume': [100, 200, 200, 400, 500, 150, 200, 300, 200, 150, 800],
    'class': ['B', 'A', 'A', 'A', 'B', 'A', 'A', 'B', 'A', 'C', 'A'],
    'geometry': [LineString([(0, 0), (0.8, 0)]), LineString([(1, 0), (1, 1)]), LineString([(1, 1), (2, 1)]), LineString([(10, 0), (12, 0)]), LineString([(12, 0), (13, 0)]), LineString([(13, 0), (13, 1)]), LineString([(13, 1), (14, 1)]), LineString([(14, 1), (17, 1)]), LineString([(17, 1), (17, 2)]), LineString([(17, 2), (17, 3)]), LineString([(1, 3), (1, 4)])]
})
df_linear_2 = pd.DataFrame({
    'route': ['Main St', 'Main St', '1st Ave', '2nd Ave', '2nd Ave', 'Sycamore School Rd'],
    'beg': [0.0, 1.0, 10.0, 13.0, 13.1, 2.2],
    'end': [1.0, 2.0, 12.0, 13.0, 14.0, 2.8],
    'street_type': ['A', 'B', 'A', 'A', 'B', 'A'],
})

In [3]:
import linref as lr
lr.set_default_lrs(key_col=['county', 'route'], loc_col='loc', beg_col='beg', end_col='end', geom_col='geometry', closed='left_mod')
df = pd.concat([df_linear_1] * 1, ignore_index=False)

In [8]:
df.lr.add_chaining(inplace=True)

In [10]:
df.lr.dissolve()

  county               route  chain   beg   end    dissolved_index
0      A             Main St      0   0.0   0.4                [7]
1      A             Main St      1   0.5   3.0             [6, 9]
2      A             1st Ave      0  10.0  13.0             [4, 3]
3      B             2nd Ave      0  13.0  18.1  [2, 0, 1, 10, 13]
4      C  Sycamore School Rd      0   1.8   3.0                [8]